.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info_btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--brand-color);
    color: #fff;
    text-align: center;
    width: 140px;
}

.start-btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--brand-color);
    color: #fff;
    text-align: center;
    width: 140px;
}