.banner {
    width: 90%;
    margin: 20px auto;
    box-shadow: rgba(97, 100, 117, 0.06) 0px 8px 10px, rgba(97, 100, 117, 0.04) 0px 3px 14px, rgba(97, 100, 117, 0.12) 0px 5px 5px;
    border-radius: 0.75rem;
    overflow : hidden;
}

.banner-img {
    width: 100%;
}
.first-div{
    display: flex;
    
    min-height: 33.3%;
    justify-content: space-between;
    padding: 0.25rem;
}
.fcp-text{
    color: #A5BBC5;

display: flex ;
flex-direction: column;
justify-content: center;
margin: 0.5rem 0 0.5rem 0;


}
.fcp-text h1{
    font-size: 5vw;
    font-weight: 600;
    text-shadow: -3px 5px 14px rgba(0,0,0,0.79);

    margin-right: 0.5rem ;
    margin-bottom: 0.25rem;
}
.fcp-text h2{
    font-size: 3vw;
    text-shadow: -3px 5px 14px rgba(0,0,0,0.79);
    margin-bottom: 0.2rem;
}




.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    row-gap: 10px;
    direction: rtl;
}

.service-item {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px ;
    gap: 10px;
    text-align: center;
}


.service-item .img-icon{
    position: relative;
    width: 60%;
    padding-top: 60%;
    border-radius: 10px;
    overflow: hidden;
}

.service-item .service-thumbnail{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.service-link {
    padding: 0;
    margin: 0;
}

.service-title {
    color: #1d1d1d;
    margin: 0;
    display: inline-block;
}

.service-item .service-title {
    font-size: large;
    font-weight: 400;
}

.service-item .service-title span{
    font-size: medium;
    display: inline-block;
}

.service-item img{
    width: 100%;
}

.coming-soon p , .coming-soon span{
    color: #707070;
}

.guide-consultation_icon {
    background-color: transparent;
    border: none;
    padding: 0;
}

.guide-consultation_icon img{
    width: 25px;
    height: 25px;
}

.modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
}

.text-lorem {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    direction: rtl;
    text-align: right;
    font-size: medium;
    box-shadow: rgba(97, 100, 117, 0.06) 0px 8px 10px, rgba(97, 100, 117, 0.04) 0px 3px 14px, rgba(97, 100, 117, 0.12) 0px 5px 5px;
}

.quick-order_icon svg{
    width: 40px;
    height: 40px;
}

@media (max-width:992px) {
    .service-item {
        padding: 12px;
    }

    .guide-consultation_icon img{
        width: 25px;
        height: 25px;
    }

    .service-item .service-title {
        font-size: medium;
    }
 
}


@media (max-width:768px) {
    .service-item {
        padding: 10px;
    }
    .service-item p{
        font-size: small;
    }

    .service-item p span{
        font-size: x-small;
    }

    .guide-consultation_icon img{
        width: 15px;
        height: 15px;
    }

    .text-lorem {
        font-size: medium;
    }
    
 
}


@media (max-width:540px) {
    .service-item {
        padding: 1px;
        gap: 3px;
    }
    .guide-consultation_icon img{
        width: 10px;
        height: 10px;
    }
    .service-item .service-title{
        font-size: 12px;
    }

    .service-item .service-title span{
        font-size: 12px;
    }
}


@media (max-width:420px) {
    .service-item {
        padding: 3px;
        gap: 0px;
    }

    .guide-consultation_icon img{
        width: 8px;
        height: 8px;
    }

    .service-item .service-title span{
        font-size: 8px;
    }
   
}

@media (min-width:768px){
    .fcp-text h1 {
        font-size: 3.5vw;}
        .fcp-text h2 {
            font-size: 2.5vw;}

}
/* lawyer carddddddddddds */
*{
    color: #353a39;
}

main{
    grid-row: 1;
}

.container {
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lawyer-box{
    border-radius: 4px;
    border: solid 1px #e9e9e9;
    background-color: #fff;
    width: 40%;
    padding: 0;
    box-shadow: rgba(97, 100, 117, 0.06) 0px 8px 10px, rgba(97, 100, 117, 0.04) 0px 3px 14px, rgba(97, 100, 117, 0.12) 0px 5px 5px;




    
}



.main-info{
    padding: 5px;
    margin: 5px 0 5px 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}

.information .lawyer-name{
    font-size: medium;
    margin:6px 0 1px 0;
    text-align: center;
}

.information .position{
    font-size: 0.72rem;
    color: #848b8e;
    margin: 0;
}

.lawyer-box .profile-picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.section-body {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.select-btn {
    border-radius: 35px;
    padding: 5px 8px;
    border: solid 1px #ff863e;
    background-color: #fee;
    color: rgb(253, 74, 4);
    font-size: small;
    margin: 0.2rem 0 0.2rem 0;
}

.select-btn:hover{
    transition: all 0.3s;
    color: #fff;
    background-color: #dd604f;
}

.selected-icon {
    width: 25px;
    height: 25px;
}

.lawyer-footer {
    background-color: #fffaf8;
}

.more-info_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.more-info_button {
    font-size: .875em;
    color: #f2635c !important;
    width: fit-content;
}

.lawyers-row {
    margin:20px 0 2rem 0;
    overflow: hidden;

}
.online-lawyer{
    justify-content: center;
}

@media (max-width:992px) {
    .lawyer-box{
        width: 60%;
    }
    .online-lawyer{
        justify-content: normal;
    }
    .profile-picture{
        width: 70px;
        height: 70px;

    
    }
}
