.order-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px !important;
}

.order-item {

    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1);
    border: solid .5px #e6e6e6;
}
.order-done{
    font-size: 11px;
    color: #22a958;
    background-color: rgba(34, 169, 88, 0.04);
    padding: 4px;
    border-radius: 4px;
}
.order-done span{
    font-size: 13px;

}
.scoretaker{
    background-color: #f2f2f2;
    color: #404040;
    padding: 13px 12px;
    border-radius: 6px;
}


.subitem{
    font-size: small;
    color: #505050;
}

@media screen and (max-width: 540px) {

    .order-title{
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 420px) {

    .order-title{
        margin-bottom: 0.2rem;
    }
}

