.order-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px !important;
}

.order-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 8px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(97, 100, 117, 0.06) 0px 8px 10px, rgba(97, 100, 117, 0.04) 0px 3px 14px, rgba(97, 100, 117, 0.12) 0px 5px 5px;
}

@media screen and (max-width: 540px) {

    .order-title{
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 420px) {

    .order-title{
        margin-bottom: 0.2rem;
    }
}

