.order-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px !important;
}

.order-item {
    display: flex;
    font-size: small;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(97, 100, 117, 0.06) 0px 8px 10px, rgba(97, 100, 117, 0.04) 0px 3px 14px, rgba(97, 100, 117, 0.12) 0px 5px 5px;
}
.go-support{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info{
    margin-right: 0.75rem;
    display: flex;
    justify-content: center;
  
    flex-direction: column;
}
.order-title{
    font-weight: 700;
}
@media screen and (max-width: 540px) {

    .order-title{
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 420px) {

    .order-title{
        margin-bottom: 0.2rem;
    }
}

