main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

svg {
    max-width: 480px;
    width: 100%;
}

p {
    color :#00904f;
}

.time-countdown {
    color: #00904f;
}