body{
    background-color: snow;
}
h1{
    font-size: medium    ;
}
.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.finance-box{
    flex-direction: column;
}
.wallet{
    font-size: small ;
}
.balance{
    font-size: x-small;
    color:green ;
}
.carousel-indicators [data-bs-target] 
    {
  
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1px !important;
    margin-left: 1px !important;
    background-color: #ffffff;
    
}
.carousel-indicators-bg{
    padding:0 10px;
    background-color:#ffffffa4 ;
    border-radius: 25px;
    margin-bottom: 0.25rem;
    
}

.box{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(97, 100, 117, 0.036) 0 4px 5px, rgba(97,100,117,.04) 0 3px 7px, rgba(97,100,117,.12) 0 3px 2px;
    min-height: 11rem;
}
.spacer{
    width: 90%;
    height: 2px;
    background-color: #94a3b840;
}
.box-title{
    color: #798596;
    border-bottom: solid 1px #798596;
}
.box-body span{
    display: block;
    font-size: x-small;
    
}
.score{
    font-size: large;
    font-weight: 700;
}
.image-online{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dropdown-menu{
    min-width: 20rem;
    padding: 0.25rem 0.5rem;
    text-align: right;
}
