{% load static%}

{% block content %}







{%include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Samadian">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'logo/logogo.png'%}">
    <title>جاستیتا - وکالت، مشاوره حقوقی و وکیل آنلاین</title>
    <meta name="keywords" content="وکیل, مشاوره حقوقی, مشاوره حقوقی آنلاین , وکیل طلاق , وکیل مهاجرت , وکیل ارزان ">
    <meta name="description"
        content=" جاستیتا -  مرجع انتخاب وکیل خوب می‌باشد. خدمات حقوقی مشاوره حقوقی تلفنی و حضوری و وکالت آنلاین  قابل ارائه می‌باشد. و مشاوره اول رایگان می‌باشد">


    <!-- open graph tags  -->





    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://justita.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="جاستیتا - وکالت، مشاوره حقوقی و وکیل آنلاین">
    <meta property="og:description"
        content=" جاستیتا -  مرجع جستجو بررسی و انتخاب وکیل خوب می‌باشد. خدمات حقوقی مشاوره حقوقی تلفنی و حضوری و وکالت آنلاین  قابل ارائه می‌باشد. و مشاوره اول رایگان می‌باشد">



    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="justita.app">
    <meta property="twitter:url" content="https://justita.app/">
    <meta name="twitter:title" content="جاستیتا - وکالت، مشاوره حقوقی و وکیل آنلاین">
    <meta name="twitter:description"
        content=" جاستیتا -  مرجع جستجو بررسی و انتخاب وکیل خوب می‌باشد. خدمات حقوقی مشاوره حقوقی تلفنی و حضوری و وکالت آنلاین  قابل ارائه می‌باشد. و مشاوره اول رایگان می‌باشد">
    <meta name="twitter:image" content="https://justita.app/justita.app/newcss/images/banner-bg.png">
    <meta property="og:image" content="http://www.example.com/image01.jpg">








    <!-- end open graph tags  -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'newcss/css/bootstrap.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'newcss/css/font-awesome.css'%}">

    <link rel="stylesheet" href="{% static 'newcss/css/templatemo-lava.css'%}">

    <link rel="stylesheet" href="{% static 'newcss/css/owl-carousel.css'%}">

</head>

<body>
    <h1 style="display:none ;">

        جاستیتا - مرجع انتخاب وکیل خوب می‌باشد. خدمات حقوقی مشاوره حقوقی تلفنی و حضوری و وکالت آنلاین قابل ارائه
        می‌باشد. و مشاوره اول رایگان می‌باشد

    </h1>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!---start GOFTINO code--->
    <script type="text/javascript">
        !function () { var i = "Nl3RHP", a = window, d = document; function g() { var g = d.createElement("script"), s = "https://www.goftino.com/widget/" + i, l = localStorage.getItem("goftino_" + i); g.async = !0, g.src = l ? s + "?o=" + l : s; d.getElementsByTagName("head")[0].appendChild(g); } "complete" === d.readyState ? g() : a.attachEvent ? a.attachEvent("onload", g) : a.addEventListener("load", g, !1); }();
    </script>
    <!---end GOFTINO code--->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->


                        <a href="{%url 'home'%}" class="logo ">
                            <img src="{%static 'logo/text-bar.png'%}" class="text-bar" style="width:30% ;">

                            <a class="logo logo-text" href="{% url 'home'%}"
                                style="font-family: 'Cairo', sans-serif; color: orange;  text-shadow:1px 2px 2px #ffffff ;">جاستیتا</a>

                        </a>
                        {% if not request.user.is_authenticated %}
                        <a class="main-button-slider btnsld" href="{%url 'login'%}"
                            style=" float:left ; z-index:100 ; left: 0; margin-top: 14px; ">ورود</a>
                        {%endif%}
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">

                            {% if request.user.is_authenticated %}
                            <li class="submenu">
                                <a href="javascript:;">{{user.first_name}}</a>
                                <ul>
                                    <li><a href="{%url 'editprofile'%}">حساب کاربری</a></li>
                                    <li><a href="{% url 'userorders'%}">درخواست های من</a></li>

                                    <li><a href="{% url 'logout'%}">خروج</a></li>
                                </ul>
                            </li>


                            {%endif%}
                            {% if not request.user.is_authenticated %}

                            <li class="scroll-to-section"><a href="{%url 'login'%}">ورود</a></li>
                            {%endif%}

                            <li class=""><a href="{% url 'immigrations'%}" class="">مهاجرت تحصیلی</a></li>
                            <li class=""><a href="{% url 'about'%}" class="">درباره ما</a></li>
                            <li class=""><a href="{%url 'online-atterney'%}" class="">وکالت آنلاین</a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">خدمات</a>
                                <ul>
                                    <li><a href="{%url 'online-atterney'%}" class="">وکالت آنلاین</a></li>
                                    <li><a href="{%url 'immigrations'%}" class="">مهاجرت تحصیلی </a></li>
                                    <li><a href="/social" class=""> پرسش و پاسخ حقوقی</a></li>

                                    <li><a href="" class="menu-item">تیم جاستیتا</a></li>
                                    <li><a href="" class="menu-item">بلاگ</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{% url 'home' %}" class="">صفحه اصلی</a></li>

                            <li class="scroll-to-section">


                                <a href="{%url 'home'%}" class="logo ">
                                    <img src="{%static 'logo/text-bar.png'%}" class="text-bar" style="width:30% ;">



                                </a>


                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <img src="{% static 'logo/text.png'%}" alt="" style="width:250px ;">
                        <p> </p>
                        <a id="orderbtn" onclick="myFunction1()" href="#" class="main-button-slider"
                            style="margin-right:5% ;"> درخواست مشاوره رایگان</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->





    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'newcss/images/left-image.png'%}" class="rounded img-fluid d-block mx-auto"
                        alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="{% static 'newcss/images/about-icon-01.png'%}" alt="">
                            <div class="text">
                                <h4>وکالت آنلاین چیست؟</h4>
                                <p> شیوه نوین وکالت در راستای کاهش هزینه ها و افزایش کیفیت</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="{% static 'newcss/images/about-icon-02.png'%}" alt="">
                            <div class="text">
                                <h4>چرا وکالت آنلاین؟</h4>
                                <p>چندیدن متخصص و مشاور در جریان پروند راهنمای شما خواهند بود</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{% static 'newcss/images/about-icon-03.png'%}" alt="">
                            <div class="text">
                                <h4>هزینه وکالت آنلاین</h4>
                                <p>شیوه ای نوین در راستای کاهش هزینه های وکالت و حفظ کیفیت</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="display: flex; width: 100%;justify-content: center;">
                    <a id="orderbtn" href="{%url 'online-atterney'%}" class="main-button-slider"
                        style="margin-top: 25px;">
                        ورود به بخش وکالت آنلاین
                    </a>





                </div>
            </div>

        </div>

    </section>
    <!-- ***** Features Big Item End ***** -->



    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>1</h2>
                            <img src="{% static 'newcss/images/features-icon-1.png'%}" alt="">
                            <h4>پشتیبانی 24 ساعته</h4>
                            <p>مشاوران و پشتیبانان ما 7 روز هفته و 24 ساعت روز آماده پاسخ گویی به سوالات شما می باشند
                            </p>
                            <a href="#" class="main-button">
                                پشتیبانی
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>2</h2>
                            <img src="{% static 'newcss/images/features-icon-2.png'%}" alt="">
                            <h4>ضمانت بازگشت وجه</h4>
                            <p>در صورت نا رضایتی شما از خدمات ما، امکان عودت وجه پرداختی به حساب شما وجود دارد</p>
                            <a href="#" class="main-button">
                                اطلاعات بیشتر
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>3</h2>
                            <img src="{% static 'newcss/images/features-icon-3.png'%}" alt="">
                            <h4>وکالت آنلاین</h4>
                            <p> راه حلی مدرن و اقتصادی برای جهت حل مشکلات حقوقی شما توسط مجرب ترین متخصصین کشور</p>
                            <a href="{%url 'online-atterney'%}" class="main-button">
                                اطلاعات بیشتر
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>










    <div class="right-image-decor"></div>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row" style="flex-direction: row ;">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>نظر کاربران در مورد <em>خدمات ما</em></h2>
                        <p>
                            نظرات کاربران پس از دریافت خدمات ما


                        </p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <i></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>

                                </ul>
                                <h4>مهدی حمیدی</h4>
                                <p>بسیار عالی ، پاسخگویی سریع و متخصصین مجرب و مشاوره دقیق</p>
                                <span>موضوع خانواده</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>مریم امین پور</h4>
                                <p>

                                    از وکالت آنلاین استفاده کردم و رضایت کامل دارم! ممنون از جاستیتا

                                </p>
                                <span>موضوع ملکی</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>مهرتاش کاظمی</h4>
                                <p>

                                    برای اجرای مهریه از وکالت آنلاین استفاده کردم که راضیم و در نهایت از برای حضانت
                                    دخترم با همون گروه قرارداد بستم

                                </p>
                                <span>موضوع خانواده</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>الهام صبا</h4>
                                <p>

                                    دلسوز و کاربلد و وقت شناس

                                </p>
                                <span>موضوع خانواده</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <p> نظرات و انتقادات شما برای ما ارزشمند است ، برای ثبت نظر از کادر زیر استفاده کنید</p>
                            <br>
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="نام " required=""
                                                style="background-color: #fba70b2d ;text-align: right;">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="ایمیل" required=""
                                                style="background-color: #fba70b2d ;text-align: right;">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder=" نظر شما"
                                                required=""
                                                style="background-color: #fba70b2d;text-align: right;"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">ارسال
                                                نظر</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12" style="text-align: center;">
                        <img src="{%static 'logo/1.png'%}" style="width:60% ;">

                        <ul class="social">
                            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>

                            <li><a href="https://www.t.me/justita_official/" target="_blank"><i
                                        class="fa fa-paper-plane"></i></a></li>
                            <li><a href="https://www.instagram.com/justita_official/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a href="https://wa.me/9877871787" target='_blank'><i class="fa fa-whatsapp"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">

                        <div class="flexfoot" style="width: 100%; margin-top: 15px;"> خدمات
                            <br><br>

                            <ul>
                                <li><a href="{% url 'online-atterney' %}">وکالت آنلاین</a></li>
                                <li><a href="{% url 'immigrations' %}">مهاجرت تحصیلی</a></li>
                                <li><a href="{% url 'homee' %}">پرسش و پاسخ</a></li>
                                <li><a href="">بلاگ</a></li>
                                <li><a href="{% url 'ordernow'%}">مشاوره رایگان</a></li>
                            </ul>


                        </div>
                        <div class="flexfoot" style="width: 100%;">
                            دسترسی ها
                            <br><br>

                            <ul>
                                <li><a href="{% url 'about'%}"> درباره جاستیتا </a></li>
                                <li> <a href="#contact"> تماس با ما </a></li>
                                <li> قوانین و مقررات </li>
                                <li>فرصت های شغلی</li>

                            </ul>




                        </div>



                        <div class="flexfoot" style="width: 100%;">راه های ارتباطی
                            <br><br>
                            <ul>

                                <li><a href="tel:021-77871787" style="font-size:14px ;">021-77871787 </a></li>
                                <li> <a href="" style="font-size:14px ;">info@justita.app </a></li>
                                <li>
                                    <ul style="margin-top: 5px;">
                                        <li style="display:inline ; margin: 5px;"><a href="" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>

                                        <li style="display:inline ; margin: 5px;"><a
                                                href="https://www.t.me/justita_official/" target="_blank"><i
                                                    class="fa fa-paper-plane"></i></a></li>
                                        <li style="display:inline ; margin: 5px;"><a
                                                href="https://www.instagram.com/justita_official/" target="_blank"><i
                                                    class="fa fa-instagram"></i></a></li>
                                        <li style="display:inline ; margin: 5px;"><a href="https://wa.me/9877871787"
                                                target='_blank'><i class="fa fa-whatsapp"></i></a></li>

                                    </ul>



                                </li>

                            </ul>


                        </div>




                        <div class="flexfoot" style="width: 100%;">راه های ارتباطی
                            <br><br>
                            <ul>

                                <li><a href="tel:021-77871787" style="font-size:14px ;">021-77871787 </a></li>
                                <li> <a href="" style="font-size:14px ;">info@justita.app </a></li>
                                <li>
                                    <ul style="margin-top: 5px;">
                                        <li style="display:inline ; margin: 5px;"><a href="" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>

                                        <li style="display:inline ; margin: 5px;"><a
                                                href="https://www.t.me/justita_official/" target="_blank"><i
                                                    class="fa fa-paper-plane"></i></a></li>
                                        <li style="display:inline ; margin: 5px;"><a
                                                href="https://www.instagram.com/justita_official/" target="_blank"><i
                                                    class="fa fa-instagram"></i></a></li>
                                        <li style="display:inline ; margin: 5px;"><a href="https://wa.me/9877871787"
                                                target='_blank'><i class="fa fa-whatsapp"></i></a></li>

                                    </ul>



                                </li>

                            </ul>


                        </div>




                        <div class="flexfoot" style="width: 100%;"> نشانی
                            <ul style="margin-top: 35px;">

                                <li style="border-radius: 15px;">
                                    <a href='https://goo.gl/maps/2pjuzXwXPrUTpAky6'>
                                        <img src="{%static 'images/Capture.JPG'%}" alt='map'></a>
                                </li>




                                <li style="margin-top: 15px;"> <a href="https://nshn.ir/b1_bvZzwVxiPuP"> آدرس در
                                        نشان(کلیک
                                        کنید)</a> </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{%static 'newcss/js/jquery-2.1.0.min.js'%}"></script>

    <!-- Bootstrap -->
    <script src="{%static 'newcss/js/popper.js'%}"></script>
    <script src="{%static 'newcss/js/bootstrap.min.js'%}"></script>

    <!-- Plugins -->
    <script src="{%static 'newcss/js/owl-carousel.js'%}"></script>
    <script src="{%static 'newcss/js/scrollreveal.min.js'%}"></script>
    <script src="{%static 'newcss/js/waypoints.min.js'%}"></script>
    <script src="{%static 'newcss/js/jquery.counterup.min.js'%}"></script>
    <script src="{%static 'newcss/js/imgfix.min.js'%}"></script>

    <!-- Global Init -->
    <script src="{%static 'newcss/js/custom.js'%}"></script>
    <script>
        function myFunction1() {

            if (confirm("کاربر گرامی، این بخش جهت مشاوره حقوقی می باشد، جهت دریافت مشاوره مهاجرت تحصیلی از منوی بالای  صفحه استفاده کنید")) {
                window.location.href = "{%url 'ordernow'%}";
            } else {

            }
            document.getElementById("demo").innerHTML = txt;
        }
    </script>

</body>





</html>











{% endblock %}