{% extends "base.html" %}
{% load static %}


{% block links %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'social/legal-panel/style.css' %}">
{% endblock links %}

{% block content %}
  <div class="container pt-4">
    <h1  class="fs-3 text-center mb-4">پنل وکالت آنلاین</h1>

    <div class="introducation-text text-center">
        <p class="text-end">
          

          وکالت آنلاین از روش‌های نوین ارائه شده توسط جاستیتا می باشد که به کاربران امکان می‌دهد تا به صورت آنلاین با وکیل‌های متخصص در امور حقوقی در ارتباط باشند و وکالت پرونده‌های خود را به وکیل متخصص در موضوع پرونده اعطا کنند. با استفاده از این سرویس، کاربران در پنل اختصاصی خودشان با وکیل پرونده در ارتباط می باشند. این امر از طریق آپلود کردن رونوشت پرونده در پنل وکالت آنلاین انجام می‌شود و پس از آن، تیم حقوقی جاستیتا پرونده را بررسی می‌کند و به با تکیه بر نتیجه بررسی و تحلیل موضوع پرونده، آن را به وکیلی خبره و کاربلد ارجاع می دهند. 
        </p>
        <!-- <a href="{% url 'social:home' %}" class="more-info_btn">اطلاعات بیشتر</a> -->
    </div>

    <a href="{% url 'social:legal-panel-start' %}" class="start-btn">شروع</a>
  </div>
{% endblock content %}