{% extends "base.html" %}
{% load static %}


{% block links %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'social/legal-panel/style.css' %}">
{% endblock links %}

{% block content %}
  <div class="container pt-4">
    <h1  class="fs-3 text-center mb-4">پنل وکالت آنلاین</h1>

    <div class="introducation-text text-center">
        <p class="text-end">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        <a href="{% url 'social:home' %}" class="more-info_btn">اطلاعات بیشتر</a>
    </div>

    <a href="{% url 'social:legal-panel-start' %}" class="start-btn">شروع</a>
  </div>
{% endblock content %}