{% extends "social/base.html" %}
{% load static %}

{% block title %}لیست سفارشات کاربر{% endblock title %}

{% block links %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'social/orders/style.css' %}">
{% endblock links %}

{% block main_content %}
<div>
    <h1 class="h3 mt-3">لیست درخواست ها</h1>
    <div class="p-md-2 order-container">
        {% for order in orders %}

        

            <div class="order-item col-12 col-lg-5">
                <div class="mx-2 d-flex">
                    <div class="col-3">
                        <div>
                            <img src="{%if order.service_name == 'درخواست مشاوره آنلاین'%}/media/social/services/call_counceling_logo.webp {%else%}/media/social/services/online_counceling_logo.webp{%endif%}" alt="مشاوره حقوقی تلفنی" class="rounded" width="64px" height="64px">
                        
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-9">{{order.service_name}}</div>
                           

                            
                        </div>
                        <div class="subitem"> {{order.created_at.date}} ساعت  <span class="time_details">{{order.created_at.time}}</span>  </div>
                        <div class="subitem">شناسه : {{order.identity}}</div>
                        
        
                    </div>
                </div>
                <div class="mx-2 d-flex my-2">
                    <div class="d-flex justify-content-between" style="width: 100%;">
                        
                        <div class="mx-3 mt-2"> وکیل : {{order.lawyer}}</div>
                        <div class="mx-3 mt-2 order-done"><span class="price">{{order.amount_paid}}</span> تومان </div>
                    </div>
                </div>
                <div class="mt-1 mx-2 scoretaker d-flex justify-content-between">
                    <div class="x-small">نظرات شما برای ما ارزشمند است</div>
                    <a href="/social/submit-review/?pk={{order.identity}}" class="x-small">ثبت امتیاز<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" style="transform: rotate(0deg);"><g fill="currentcolor" fill-rule="nonzero"><path fill="none" d="M0 0h24v24H0z"></path><path fill="var(--green-light-mode)" d="M15.707 4.707L8.414 12l7.293 7.293a1 1 0 0 1-1.414 1.414l-8-8a1 1 0 0 1 0-1.414l8-8a1 1 0 0 1 1.414 1.414z"></path></g></svg>

                    </a>

                </div>
                <div class="mb-2 mt-3 mx-2 text-center">

                    <a href="{%url 'social:support'%}">
                        <div class="btn btn-primary text-primary" style="background-color: white;">
                            درخواست پشیتیبانی
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                                <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5"></path>
                                </svg>
                        </div>
                    </a>
           
                </div>
             
            </div>
    
 
            {% endfor %}
    </div>
</div>
<script>
    
    function removeSeconds(time) {
        
        var timeComponents = time.split(':');
        
       
        timeComponents.pop();
        
       
        return timeComponents.join(':');
    }
    
    
    function updateTimeDetails() {
       
        var timeElements = document.getElementsByClassName('time_details');
        
        
        for (var i = 0; i < timeElements.length; i++) {
            
            var originalTime = timeElements[i].innerText;
            
            
            var formattedTime = removeSeconds(originalTime);
            
            
            timeElements[i].innerText = formattedTime;
        }
    }
    
    
    document.addEventListener("DOMContentLoaded", function() {
        updateTimeDetails();
    });
</script>
<script>
    function formatPrice(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function updatePrices() {
        var priceElements = document.getElementsByClassName('price');
        
        for (var i = 0; i < priceElements.length; i++) {
            var rawPrice = parseFloat(priceElements[i].innerText);
            
            priceElements[i].innerText = formatPrice(rawPrice);
        }
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        updatePrices();
    });
</script>

{% endblock main_content %}