{% extends "base.html" %}
{% load static%}

{% block meta %}

<title>ورود و ساخت حساب</title>
{% endblock meta %}

{% block links %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'accounts/base/style.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/login/style.css' %}">
{% endblock links %}

{% block scripts %}<script src="{% static 'accounts/login/script.js' %}" defer></script>{% endblock scripts %}


{% block content %}

    <div>
        {% if form.errors %}
        <ul class="errorlist">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li class="messages">{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <script>
            setTimeout(function() {
                var errorMessages = document.querySelectorAll('.messages');
                var index = 0;
                var interval = setInterval(function() {
                    errorMessages[index].remove();
                    index++;
                    if (index >= errorMessages.length) {
                        clearInterval(interval);
                    }
                }, 20);
            }, 5000);
        </script>
        {% endif %}
    </div>

    <div class="container">

        <div class="login-content">

            <div class="title">
                <img src="/media/accounts/logo-main.png" alt="جاستیتا" class="site-logo">
                <h3>ورود یا ساخت حساب کاربری </h3>
            </div>
            
            <form action="" method="POST" dir="ltr" autocomplete="off">

                {%csrf_token%}

                <label for="phoneNumberInput"> شماره تلفن همراه</label>
                <input type="text" maxlength="13" class="input" name="phone_number" id="phoneNumberInput" placeholder="0912*******">

                <button type="submit" class="btn submit-btn" id="login-btn" >ورود</button>

            </form>
            <div id="scom">
                <p style="font-size: x-small;">با زدن دکمه ورود شرایط و قوانین  <a href="{%url 'base:tos'%}">سیاست حفظ حریم‌ خصوصی</a> جاستیتا را پذیرفته‌ام. </p>
            </div>
            <a href="{% url 'accounts:lawyer-login' %}" style="font-size: x-small;">ورود کاربر وکیل</a>



        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector("form").addEventListener("submit", function() {
                document.querySelector("button[type='submit']").disabled = true;
                document.querySelector("button[type='submit']").innerHTML = "در حال انتقال لطفا صبر کنید";
            });
        });
    </script>

{% endblock content %}