{% extends "base.html" %}
{% load static %}
{%include 'support.html'%}

{% block meta %}
<title>کد احراز پیامکی</title>
{% endblock meta %}

{% block links %}
	{{ block.super }}
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'accounts/base/style.css' %}">
	<link rel="stylesheet" href="{% static 'accounts/sms-verify/style.css' %}">
{% endblock links %}

{% block content %}

	<div>
		{% if form.errors %}
		<ul class="errorlist">
			{% for field, errors in form.errors.items %}
				{% for error in errors %}
					<li class="messages">{{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
		<script>
			setTimeout(function() {
				var errorMessages = document.querySelectorAll('.messages');
				var index = 0;
				var interval = setInterval(function() {
					errorMessages[index].remove();
					index++;
					if (index >= errorMessages.length) {
						clearInterval(interval);
					}
				}, 20);
			}, 5000);
		</script>
		{% endif %}
	</div>

	<div class="container">

		<header>
			<img src="/media/accounts/logo-main.png" alt="جاستیتا"  class="site-logo">

			<div style="padding: 10px 10px; color: #e96800;font-size: small;background-color: #ffe3cc;border-radius: 4px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
				  </svg>
				
				<span>لطفا از رفرش صفحه خودداری نمایید.</span>
			</div>


		</header>


	 

		<div class="phone-info w-100">
			<h6 class="text-right w-100" style="font-size: 0.75rem;">کد تایید 4 رقمی به شماره  {{phone_number}} ارسال شد. </h6>
			<a href="{% url 'accounts:login' %}" class="d-block w-100 a-link small">تصحیح شماره</a>
		</div>

		<div class="demonstration-form">
			<span class="my-2 text-muted">کد پیامک شده</span>
			<div class="input-field">
				<input type="number" class="code-input" id="one" />
				<input type="number" class="code-input" id="two" disabled />
				<input type="number" class="code-input" id="three" disabled />
				<input type="number" class="code-input" id="four" disabled />
			</div>			
			<button type="button" id="submit-btn" onclick="checkOtpCode(event)">بررسی کد</button>
		</div>

		<form action="" method="POST" id="mainForm">
			{%csrf_token%}
			<input type="text" name="phone_number" value="{{phone_number}}"/>
			<input type="text" name="code" id="codeInput" value="0000"/>
		</form>

		<div id="fcom">
			<p id="timer" style="display: inline;" data-timeout="{{timeout}}">00</p> ثانیه تا ارسال مجدد
		</div>

		<div id="scom" style="display: none;">
			<a href="" class="a-link">ارسال مجدد کد</a>
		</div>

	</div>

{% endblock content %}

{% block extra_scripts %}
 
<script>
	const inputs = document.querySelectorAll(".code-input"),
	button = document.querySelector("button");

	// iterate over all inputs
	inputs.forEach((input, index1) => {
	input.addEventListener("keyup", (e) => {
		// This code gets the current input element and stores it in the currentInput variable
		// This code gets the next sibling element of the current input element and stores it in the nextInput variable
		// This code gets the previous sibling element of the current input element and stores it in the prevInput variable
		const currentInput = input,
		nextInput = input.nextElementSibling,
		prevInput = input.previousElementSibling;

		// if the value has more than one character then clear it
		if (currentInput.value.length > 1) {
		currentInput.value = "";
		return;
		}
		// if the next input is disabled and the current value is not empty
		//  enable the next input and focus on it
		if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
		nextInput.removeAttribute("disabled");
		nextInput.focus();
		}

		// if the backspace key is pressed
		if (e.key === "Backspace") {
		// iterate over all inputs again
		inputs.forEach((input, index2) => {
			// if the index1 of the current input is less than or equal to the index2 of the input in the outer loop
			// and the previous element exists, set the disabled attribute on the input and focus on the previous element
			if (index1 <= index2 && prevInput) {
			input.setAttribute("disabled", true);
			input.value = "";
			prevInput.focus();
			}
		});
		}
		//if the fourth input( which index number is 3) is not empty and has not disable attribute then
		//add active class if not then remove the active class.
		if (!inputs[3].disabled && inputs[3].value !== "") {
		button.classList.add("active");
		return;
		}
		button.classList.remove("active");
	});
	});

	//focus the first input which index is 0 on window load
	window.addEventListener("load", () => inputs[0].focus());
</script>


<script>
    function checkOtpCode() {
        var one = document.getElementById('one').value;
        var two = document.getElementById('two').value;
        var three = document.getElementById('three').value;
        var four = document.getElementById('four').value;

        var codeInput = document.getElementById('codeInput');
        codeInput.value = one + two + three + four;

        document.getElementById('mainForm').submit();
    }
</script>


<script>
	var timerElement = document.getElementById("timer")
	var timer = Number(timerElement.dataset.timeout)
	timerElement.innerHTML = timer
	var x = setInterval(() => { timer--; document.getElementById("timer").innerHTML = timer; if (timer <= 0) { clearInterval(x); activate() } }, 1000)
	function activate() {
		document.getElementById("scom").style.display = "block"
		document.getElementById("fcom").style.display = "none"
	}
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelector("form").addEventListener("submit", function() {
			document.querySelector("button[id='submit-btn']").disabled = true;
			document.querySelector("button[id='submit-btn']").innerHTML = "در حال انتقال لطفا صبر کنید";
		});
	});
</script>

{% endblock extra_scripts %}