.nav-pills .nav-item .nav-link {
    font-size: small;
    color: black;
}

.nav-pills .nav-item .nav-link.active {
    background-color: var(--brand-color);
    color: #fff;
}

.chat-lawyer_profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.chat-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 5px 6px;
    border: solid 1px #eee;
    border-radius: 5px;
    position: relative;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;
    color: black;

}

.chat-item .left-side { 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    font-size: smaller;
}
.lawyer-name{
    margin-right: 0.45rem;
    margin-bottom: 0;
    font-weight: 700;
}
.service-name{
    margin-right: 0.55rem;
    margin-bottom: 0;

}

.marked-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: #dbd700;
}

.tab-content > .active {
    display: flex;
}

.chat-container{
    flex-wrap: wrap;
}