{%load static%}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



    <meta name="keywords" content="وکالت آنلاین , وکیل ارزان , وکیل ارزان و خوب , وکیل آنلاین , وکیل همراه">
    <meta name="author" content="Samadian">
    <title>وکالت آنلاین : وکالت ارزان و به صرفه</title>
    <meta name="description" content="خدمت جدید جاستیتا، وکالت آنلاین و به صرفه و حفظ کیفیت">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="language" content="Persian">

    <!-- favico -->
    <link rel="icon" type="image/x-icon" href="{% static 'V3/logo/favicon.png'%}">

    <!-- open graph face book-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://justita.app">
    <meta property="og:title" content="جاستیتا - خدمات مشاوره با وکیل">
    <meta property="og:description" content="ارائه خدمات مشاوره با وکیل، از جمله مشاوره حقوقی تلفنی و آنلاین، وکالت آنلاین و مشاوره حضوری در وب اپلیکیشن جاستیتا">
    <meta property="og:image" content="{% static 'V3\homepage\images\main_banner.webp'%}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.justita.app">
    <meta property="twitter:title" content="جاستیتا - خدمات مشاوره با وکیل">
    <meta property="twitter:description" content="ارائه خدمات مشاوره با وکیل، از جمله مشاوره حقوقی تلفنی و آنلاین، وکالت آنلاین و مشاوره حضوری در وب اپلیکیشن جاستیتا">
    <meta property="twitter:image" content="{% static 'V3\homepage\images\main_banner.webp'%}">
    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{% static 'V3/logo/favicon.png'%}">
    <link rel="apple-touch-startup-image" href="{% static 'V3\homepage\images\main_banner.webp'%}">
    <meta name="apple-mobile-web-app-title" content="Justita">












    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'V3\homepage\css\servicestyles.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
       
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500;600&display=swap"
      rel="stylesheet"
    />
    
  </head>

  <body>
    <!-- Navbar -->
    <nav
    class="navbar navbar-expand-lg navbar-light py-1 fixed-top"
    dir="ltr"
    style="background-color: white"
    
  >
    <div class="container">
      <a href="{%url 'base:home'%}" class="navbar-brand" style="width: 30%;"
        ><img
        style="width: 90%;"
          class="p-0 navbarlogo"
          src="{% static 'V3\homepage\images\justita_logo.png'%}"
          alt="گروه حقوقی جاستیتا - لوگو"
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto text-center">
          <li class="nav-item">
            <a href="https://blog.justita.app/" class="nav-link">بلاگ</a>
          </li>
          <li class="nav-item">
            <a href="#itemsSection" class="nav-link">خدمات</a>
          </li>
          <li class="nav-item">
            <a href="/social" class="nav-link">وب اپلیکیشن</a>
          </li>
          <li class="nav-item">
            <a href="{%url 'base:home'%}" class="nav-link">صفحه اصلی</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- NAVBAR END -->

    <!-- HERO -->
    <section id="heroSection" class="py-0 text-center text-sm-start">
      <div class="container-fluid">
        <div class="row">
          <!-- Left half with text -->
          <div class="col-sm-6 text-center p-3 mb-3">
            <h1 class="py-4 headings1">وکالت آنلاین: خدمتی نوین جهت کاهش هزینه های وکالت</h1>
            <a href="{% url 'social:legal-panel' %}">
            <div style="font-weight: 600" class="button btn btn-lg w-75">ورود به پنل وکالت آنلاین</div></a>
          </div>

          <!-- Right half with image -->
          <div class="col-sm-6 p-0 d-none d-sm-block">
            <img
              class="img-fluid rounded w-100"
              src="{% static 'V3/homepage/images/onat_banner.webp'%}"
              alt=""
              style="object-fit: cover; height: 100%"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- HERO END -->

    <!-- ITEMS -->
    <section id="itemsSection" class="px-5 pt-5 pb-4 mb-5">
      <div class="container">
        <h2 class="text-center my-2 pb-3">سایر خدمات مشاوره</h2>
        <div class="row text-center g-4 justify-content-center">
          <div class="col-lg-2 col-md-3 col-4">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="my-card-body card-body ">
                <img
                src="/media/social/services/online_counceling_logo.webp"
                  class="cardicon card-img-top mx-auto"
                  alt="چت با وکیل"
                />
                <h3 class="card-text px-1 py-2">مشاوره حقوقی آنلاین</h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-4">
            <a href="{% url 'base:ccl'%}">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="my-card-body card-body ">
                <img
                  src="media/social/services/call_counceling_logo.webp"
                  class="cardicon card-img-top  mx-auto"
                  alt="مشاوره تلفنی با وکیل"
                />
                <h3 class="card-text px-1 py-2">مشاوره حقوقی تلفنی</h3>
              </div>
            </div>
          </a>
          </div>
          <div class="col-lg-2 col-md-3 col-4">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="my-card-body card-body ">
                <img
                  src="/media/social/services/free_councel_logo.webp"
                  class="cardicon card-img-top mx-auto"
                  alt="مشاوره رایگان با وکیل"
                />
                <h3 class="card-text px-1 py-2">مشاوره حقوقی رایگان</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ITEMS END -->

    <!-- Into -->
    <section class="my-6">
      <div class="container">
        <div class="row g-2 justify-content-around">
          <div class="p-4 text-white col-md-6">
            <div class="intro-cards">
              <img src="{% static 'V3/homepage/images/مشاوره حقوقی تلفنی با وکیل - جاستیتا.webp '%}" class="img-fluid" />
            </div>
          </div>
          <div class="p-4 text-white col-md-6">
            <div class="intro-cards d-flex row text-center">
              <h2 class="my-3">وکالت آنلاین چیست؟</h2>
              <p class="px-4">
                در دنیای امروزی که افراد بسیاری با مسائل حقوقی مختلف مواجه
                می‌شوند، مشاوره حقوقی تلفنی به عنوان یک راه حل موثر برای حل
                مشکلات حقوقی برجسته است. این خدمت به افراد امکان می‌دهد تا به
                راحتی و به صورت مستقیم با وکیل یا مشاور حقوقی تماس بگیرند و
                پرسش‌های خود را مطرح کنند. این روش برای افرادی که در شهرها و
                مناطق دورافتاده زندگی می کنند یا وقت کافی برای مراجعه حضوری به
                دفتر وکیل ندارند، بسیار مفید است. مشاوره تلفنی با وکیل به افزاد
                امکان می دهد تا به سوالات حقوقی خود پاسخ دهند و راه حل های مناسب
                برای موضوعاتی مانند طلاق، مسائل مالی، مسائل زندگی روزمره و موارد
                دیگر را پیدا کنند.
              </p>
            </div>
          </div>

          <div class="p-4 text-white col-md-6">
            <div class="intro-cards d-flex row text-center">
              <h2 class="my-3">موضوعات مشاوره حقوقی تلفنی</h2>
              <p class="px-4">
                درخواست مشاوره تلفنی با وکیل می‌تواند در موارد مختلفی مفید باشد،
                از جمله مشاوره در مورد مسائل خانوادگی، مسائل مربوط به قراردادها
                و تعهدات، مسائل کیفری و جزایی، مسائل مربوط به مالی و امور شرکتی
                و حتی در موارد مربوط به مسائل مهاجرتی. این نوع مشاوره می‌تواند
                به افراد کمک کند تا اطلاعات لازم را در مورد حقوق و وظایف خود
                بدست آورند و راه‌حل‌های مناسب برای مسائل حقوقی خود را پیدا کنند.
                همچنین، این نوع مشاوره می‌تواند به افراد کمک کند تا از حقوق و
                تعهدات خود آگاه شوند و در مواجهه با مسائل حقوقی، بهترین تصمیم‌ها
                را بگیرند.
              </p>
            </div>
          </div>
          <div class="p-4 text-white col-md-6">
            <div class="intro-cards d-flex row text-center">
              <h2 class="my-3">چرا مشاوره تلفنی با وکیل؟</h2>
              <p class="px-4">
                وقتی مواجه به مسائل قانونی می‌شویم، تماس با یک وکیل می‌تواند به
                ما کمک کند تا بهترین تصمیمات را بگیریم. وکیلان متخصص در حقوق
                مختلف هستند و می‌توانند مشاوره حقوقی ارائه دهند و در دادگاه
                نمایندگی کنند. از دیگر خدمات وکیلان می‌توان به تهیه و تنظیم
                اسناد حقوقی، مذاکرات و قراردادهای حقوقی اشاره کرد. تماس با وکیل
                می‌تواند به ما کمک کند تا حقوق و تعهداتمان را درک کنیم و از حقوق
                خود دفاع کنیم. همچنین، وکیلان می‌توانند به ما کمک کنند تا بهترین
                راه حل برای مسائل قانونی ناشناخته پیدا کنیم.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- intro end -->

    <!-- pros and cons -->
    <section class="p-5 brandintItems">
      <div class="">
        <h2>مزایای مشاوره حقوقی تلفنی جاستیتا</h2>
        <div class="row text-center g-5 justify-content-around">
          <div class="col-lg-4 col-md-6 col-sm-6 px-0">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="card-body px-0" style="width: 100%">
                <img
                  src="{% static 'V3/homepage/images/2.png'%}"
                  class="card-img-top w-75 mx-auto rounded"
                  alt="آیکون دسترسی آسان و سریع"
                />
                <h3 class="h3 mt-1">دسترسی آسان و سریع</h3>
                <p class="card-text mb-2 px-3">
                  با استفاده از این روش، افراد می‌توانند به سرعت و با هزینه
                  کمتری به مشاوره حقوقی دسترسی پیدا کنند. علاوه بر این، این روش
                  برای افرادی که در مناطق دورافتاده زندگی می‌کنند یا وقت کافی
                  برای مراجعه به دفتر وکالت ندارند، بسیار مفید است. همچنین، این
                  روش برای افرادی که نیاز به مشاوره فوری دارند، مناسب است و
                  می‌تواند به آنها کمک کند تا در مواقع اضطراری به یک وکیل مجرب
                  دسترسی پیدا کنند.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 px-0">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="card-body px-0" style="width: 100%">
                <img
                  src="{% static 'V3/homepage/images/3.png'%}"
                  class="card-img-top w-75 mx-auto"
                  alt="آیکون کاهش هزینه ها"
                />
                <h3 class="h3 mt-1">کاهش هزینه‌ها</h3>
                <p class="card-text mb-2 px-3">
                  هزینه مشاوره تلفنی با وکیل متخصص به مراتب کمتر از مشاوره حضوری
                  می باشد. چراکه هم وکیل و هم موکل زمان کمتری را برای ملاقات صرف
                  می کنند و همچنین در هزینه های حمل و نقل و تجملات صرفه جویی می
                  شود.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 px-0">
            <div class="text-dark mx-auto" style="width: auto">
              <div class="card-body px-0" style="width: 100%">
                <img
                  src="{% static 'V3/homepage/images/1.png'%}"
                  class="card-img-top w-75 mx-auto"
                  alt="تنوع در انتخاب مشاور آیکون"
                />
                <h3 class="h3 mt-1">تنوع در انتخاب مشاور</h3>
                <p class="card-text mb-2 px-3">
                  استفاده از مشاوره تلفنی حقوقی به افراد این امکان را می‌دهد که
                  از بین مشاوران حقوقی مختلف انتخاب کنند و با آن‌ها تماس بگیرند.
                  این امر به افراد این امکان را می‌دهد که مشاور حقوقی مناسبی را
                  برای مسئله خود انتخاب کنند و با او در تماس باشند، بدون اینکه
                  نیاز به رفتن به محل کار یا دفتر مشاور حقوقی داشته باشند.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- pros and cons END -->

    <!-- realted post -->
    <section style="background-color: rgba(255, 166, 0, 0.271);">
      <div class="container">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h3 class="mt-2 p-2">مواردی که در مشاوره تلفنی با وکیل مطرح می شود</h3>
            <p class="p-2">
              در مشاوره تلفنی با وکیل، موارد مختلفی مطرح می‌شود که از جمله آن‌ها
              می‌توان به مسائل حقوقی، خانوادگی، کیفری، مالی و تجاری اشاره کرد.
              افراد ممکن است به دنبال راه‌حل‌های حقوقی برای مشکلات خود باشند، از
              جمله پیگیری امور مربوط به ارث، طلاق، تقسیم دارایی‌ها، قراردادهای
              تجاری، همچنین مواردی از این دست. وکیلان در این مشاوره‌ها به ارائه
              مشاوره‌های حقوقی، اطلاعات در مورد روند قضایی، راهنمایی در مورد
              مستندات مورد نیاز و همچنین ارائه راهکارهای حل مسائل به مشتریان خود
              می‌پردازد.
            </p>
          </div>
          <div class="col-md-6 justify-content-center mx-auto">
            <img class="rounded img-fluid" src="{% static 'V3/homepage/images/onat_last_banner.webp'%}" />
          </div>
        </div>
      </div>
    </section>
    <!-- realted post end -->
    <!-- FAQ -->

    <section class="my-5 bg-light" style="text-align: right;">
      <div class="container">
        <h2 class="p-3 mt-3">سوالات متداول</h2>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                style="text-align: right;"
              >
              چگونه می‌توانم وکیل مناسب برای مشاوره تلفنی پیدا کنم؟
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                برای پیدا کردن وکیل مناسب برای مشاوره تلفنی، ابتدا باید به دنبال وکیلی با تخصص مرتبط با موضوع مورد
                 نظرتان بگردید. می‌توانید از لیست وکلا در صفحه <a style="color: red;" href="{% url 'call-counseling:home' %}">درخواست مشاوره تلفنی</a> وب اپلیکشن جاستیتا انتخاب نمایید.
                 </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
              style="text-align: right;"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
              چه مواردی می‌تواند منجر به نیاز به مشاوره تلفنی با وکیل شود؟              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                نیاز به مشاوره تلفنی با وکیل ممکن است به دلیل موارد مختلفی به وجود بیاید. این احتیاج می‌تواند ناشی از مسائل حقوقی مربوط به خانواده، مالی، کیفری یا حقوق تجارتی باشد. به عنوان مثال، اگر شما درگیر یک دعوای خانوادگی یا طلاق هستید، نیاز به مشاوره با وکیل دارید تا در مورد حقوق و تعهداتتان راهنمایی شوید. همچنین، اگر شما یک کسب و کار دارید و با مسائل حقوقی یا قراردادهای تجاری مواجه شده‌اید، مشاوره با وکیل می‌تواند به شما کمک کند تا اطمینان حاصل کنید که حقوق شما حفظ می‌شود.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
              style="text-align: right;"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
زمان مشاوره حقوقی تلفنی با وکیل چند دقیقه است؟
            </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
در وب اپلیکشن جاستیتا، شما از بین بسته های متعدد مشاوره تلفنی امکان انتخاب دارید
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>
    <!-- FAQ END -->

    <!-- FOOTER -->
    <footer
    class="text-center text-lg-start text-white"
    style="background-color: #1c2331"
  >
    <!-- Section: Social media -->
    <div
      class="d-flex justify-content-center p-4"
      style="background-color: rgba(255, 166, 0, 0.845)"
    >
      <div>
        <a href="https://www.instagram.com/justita_official/" class="text-white m-2">
          <i class="bi-instagram p-2"></i>
        </a>
        <a href="https://wa.me/982177871787" class="text-white m-2">
          <i class="bi-whatsapp p-2"></i>
        </a>
        <a href="https://www.linkedin.com/company/justita-group/" class="text-white m-2">
          <i class="bi-linkedin p-2"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCatCz0xitLrpNBGD5Fx6kxA" class="text-white m-2">
          <i class="bi-youtube p-2"></i>
        </a>
      </div>
      <!-- Right -->
    </div>

    <div>
      <div class="container text-center mt-1">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-5">
            <!-- Content -->
            <div class="text-uppercase fw-bold mb-1">گروه حقوقی جاستیتا</div>
            <hr
              class="mt-0 d-inline-block mx-auto"
              style="width: 90px; background-color: rgb(255, 166, 0); height: 4px"
            />
            <p class="px-1">
              گروه حقوقی جاستیتا گروه حقوقی جاستیتا متشکل از وکلای مجرب و
              متخصص در حوزه های مختلف با ارائه خدمات شایسته، نسبت به رفع
              نیازهای حقوقی جامعه اقدامات مقتضی را صورت می دهد.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
            <!-- Links -->
            <div class="text-uppercase fw-bold mb-1">خدمات</div>
            <hr
              class="mt-0 d-inline-block mx-auto"
              style="width: 90px; background-color: rgba(255, 166, 0, 0.845); height: 4px"
            />
            <p class="mt-0">
              <a href="{%url 'base:ccl'%}" class="text-white">مشاوره حقوقی تلفنی</a>
            </p>
            <p>
              <a href="#!" class="text-white">مشاوره حقوقی آنلاین</a>
            </p>
            <p>
              <a href="{%url 'base:online-atterney'%}" class="text-white">وکالت آنلاین</a>
            </p>
            <p>
              <a href="#!" class="text-white">مشاوره حقوقی حضوری</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">
            <!-- Links -->
            <div class="text-uppercase fw-bold mb-1">دسترسی ها</div>
            <hr
              class="mt-0 d-inline-block mx-auto"
              style="width: 90px; background-color: rgba(255, 166, 0, 0.845); height: 4px"
            />
            <p>
              <a href="{% url 'base:home'%}" class="text-white">صفحه اصلی</a>
            </p>
            <p>
              <a href="{% url 'social:home'%}" class="text-white">وب اپلیکیشن</a>
            </p>
            <p>
              <a href="https://blog.justita.app/" class="text-white">بلاگ</a>
            </p>
            <p>
              <a href="#!" class="text-white">پشتیبانی</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">راه های ارتباطی</h6>
            <hr
              class="mt-0 d-inline-block mx-auto"
              style="width: 90px; background-color: rgba(255, 166, 0, 0.845); height: 4px"
            />
            <a href="https://maps.app.goo.gl/xoMaguGVnwYjbTZq5">
              <p>تهران، ولیعصر، بعد از پارک ساعی، پلاک 254، واحد 5</p>
            </a>
            <a href="mailto:info@justita.app"> <p>info@justita.app</p></a>

            <a href="call:+982177871787"><p>021-77871787</p></a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="font-size: small; background-color: rgba(0, 0, 0, 0.2)"
    >
      کلیه حقوق مادی معنوی این وبسابت متعلق به گروه حقوقی جاستیتا می باشد
    </div>
    <!-- Copyright -->
  </footer>
    <!-- Footer -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
