
{% load static%}


<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>

    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="مشاوره حقوقی تلفنی, مشاوره حقوقی آنلاین, مشاوره تلفنی با وکیل ,مشاوره آنلاین با وکیل , مشاوره رایگان با وکیل , مشاوره حقوقی رایگان ">
    <meta name="author" content="Samadian">
    <title>جاستیتا -  قوانین و مقررات و حریم‌ خصوصی</title>
    <meta name="description" content="ارائه خدمات مشاوره با وکیل، از جمله مشاوره حقوقی تلفنی و آنلاین، وکالت آنلاین و مشاوره حضوری در وب اپلیکیشن جاستیتا">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="language" content="Persian">

    <!-- favico -->
    <link rel="icon" type="image/x-icon" href="{% static 'V3/logo/favicon.png'%}">

    <!-- open graph face book-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://justita.app">
    <meta property="og:title" content="جاستیتا - خدمات مشاوره با وکیل">
    <meta property="og:description" content="ارائه خدمات مشاوره با وکیل، از جمله مشاوره حقوقی تلفنی و آنلاین، وکالت آنلاین و مشاوره حضوری در وب اپلیکیشن جاستیتا">
    <meta property="og:image" content="{% static 'V3\homepage\images\main_banner.webp'%}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.justita.app">
    <meta property="twitter:title" content="جاستیتا - خدمات مشاوره با وکیل">
    <meta property="twitter:description" content="ارائه خدمات مشاوره با وکیل، از جمله مشاوره حقوقی تلفنی و آنلاین، وکالت آنلاین و مشاوره حضوری در وب اپلیکیشن جاستیتا">
    <meta property="twitter:image" content="{% static 'V3\homepage\images\main_banner.webp'%}">
    <!-- Apple Meta Tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{% static 'V3/logo/favicon.png'%}">
    <link rel="apple-touch-startup-image" href="{% static 'V3\homepage\images\main_banner.webp'%}">
    <meta name="apple-mobile-web-app-title" content="Justita">



    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'V3\homepage\css\style.css' %}" />
    

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500;600&display=swap"
      rel="stylesheet"
    />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KXLDFJ87');</script>
  <!-- End Google Tag Manager -->

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXLDFJ87"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="container">
        
     <h1 class="my-1"> شرایط و قوانین سیاست حفظ حریم‌ خصوصی</h1>
     <h2 class="my-2">گروه حقوقی جاستیتا</h2>
     <div class="container cu-p-txt shadow-sm p-3">
     
        <p></p><h4 dir="rtl"><span style="font-size:22px">&nbsp;حریم خصوصی</span></h4>

<p dir="rtl"><span style="font-size:22px">جاستیتا به حریم خصوصی کاربران خود احترام می‌گذارد و متعهد به حفاظت از اطلاعات شخصی است که شما در اختیار آن می‌گذارید.</span></p>

<p dir="rtl"><span style="font-size:22px">&nbsp;از آنجا که جمع‌آوری و پردازش اطلاعات شخصی بخش غیرقابل اجتنابی در فرآیندهای مبتنی بر تلفن همراه و اینترنت است لذا به منظور آگاهی کامل از سیاست و عملکرد جاستیتا در این زمینه، مطالعه این سند تحت عنوان «<strong>حریم خصوصی</strong>» و هر گونه پیام دیگری که در خصوص جمع‌آوری و پردازش اطلاعات توسط جاستیتا به حساب کاربری شما ارسال می‌شود، ضروری است.</span></p>


<p dir="rtl"><br>
<span style="font-size:22px"><strong>تغییرات این سند و تکلیف شما به اطلاع‌رسانی تغییر اطلاعات شخصی</strong></span></p>

<p dir="rtl"><span style="font-size:22px">این سند مطابق با آخرین تغییرات قوانین و مقررات موضوعه کشور تدوین شده و مبیّن کلیه حقوق شما بر اساس قانون تجارت الکترونیکی مصوب ۱۳۸۲، قانون دسترسی و انتشار آزاد به اطلاعات مصوب ۱۳۸۷ و اسناد بین‌المللی ذی ربط است.</span></p>

<p dir="rtl"><span style="font-size:22px">این سند ممکن است دستخوش تغییرات و تجدیدنظر شود. لذا توصیه می‌شود که به منظور اطلاع از تغییرات این سند، برای هر باراستفاده از خدمات جاستیتا&nbsp; این سند را مطالعه نمایید.&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">در صورتی که شما مایل نیستید اطلاعات شخصی شما در اختیار جاستیتا قرار گیرد، لطفاً از دریافت خدمات جاستیتا &nbsp;خودداری نمایید.</span></p>

<p dir="rtl"><span style="font-size:22px">در مواردی که جمع‌آوری اطلاعات شخصی شما مطابق با قانون یا به منظور ارائه خدمات توسط جاستیتا الزامی باشد، در صورت عدم ارائه اطلاعات مذکور، جاستیتا قادر نخواهد بود خدمات مورد درخواست را ارائه نماید.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px"><strong>سایت و خدمات اشخاص ثالث</strong></span></p>

<p dir="rtl"><span style="font-size:22px">پروفایل های مندرج در سایت و نرم‌افزار جاستیتا حاوی لینک‌های متعلق به پروفایل کاربران وکیل/موکل&nbsp;&nbsp;است به نحوی که کلیک کردن روی آنها می‌تواند منجر به جمع‌آوری اطلاعات شخصی شما شود. توصیه جاستیتا این است که علاوه بر این سند و تغییرات آن، سیاست‌های حفاظت از اطلاعات شخصی (Privacy Policy) (تحت همین نام یا نام‌های دیگر) لینک‌های متعلق به کاربران وکیل/موکل&nbsp;&nbsp;را به دقت مطالعه کنید. جاستیتا هیچ مسئولیتی در قبال اطلاعاتی که با&nbsp; کاربران وکیل/موکل به اشتراک می‌گذارید نخواهد داشت. این امر در مورد مطالبی که&nbsp;در سایت یا نرم‌افزارها مشاهده می‌کنید و پیشنهادهایی که در رابطه با استفاده از محصولات و خدمات خود دارند، نیز صادق است.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px"><strong>کدام اطلاعات شخصی توسط جاستیتا جمع آوری می‌شوند</strong></span></p>

<p dir="rtl"><span style="font-size:22px">مطابق با قانون تجارت الکترونیکی مصوب ۱۳۸۲ منظور از داده پیام شخصی (اطلاعات شخصی)، داده پیام‌های مربوط به یک شخص حقیقی مشخص و معین است.</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱- اطلاعاتی که با نصب ویا استفاده از نرم‌افزار جاستیتا جمع‌آوری می‌شوند</span></p>

<p dir="rtl"><span style="font-size:22px">اطلاعات مربوط به استفاده از خدمات جاستیتا و اطلاعات دستگاهی که نرم‌افزار جاستیتا بر روی آن نصب شده‌است همزمان با نصب نرم‌افزار بر روی دستگاه شما&nbsp; جمع‌آوری می‌شوند،&nbsp;برخی از این اطلاعات عبارتند از:</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۱- نوع دستگاه، زبان و نوع سیستم عامل دستگاه شما،&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۲- اطلاعاتی که شما با استفاده از نرم‌افزار مشاهده کرده‌اید،&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۳- جست‌وجوهای انجام شده و نتایج انتخاب‌شده،&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۴- مدت و باز‌ه‌های استفاده شما از خدمات جاستیتا،&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۵-اطلاعات فنی و گزارش‌های سرورشامل آدرس پروتکل اینترنت (IP)، نوع شبکه، نوع و نسخه مرورگر، اطلاعات مهم دستگاه هنگام وقفه‌ها (Crashes) شامل وضعیت روت بودن یا نبودن دستگاه، میزان کل رم و میزان فضای پر آن هنگام وقفه، روز و ساعت &nbsp;رخدادها، خاموش یا روشن بودن شبکه بی‌سیم، خاموش یا روشن بودن شبکه دیتا، خاموش یا روشن بودن وضعیت رومینگ،&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۱-۶-شناسه اندروید و شناسه تبلیغاتی اندروید ویژه دستگاه شما،</span></p>

<ul dir="rtl">
<li><span style="font-size:22px">شناسه تبلیغاتی اندروید صرفاً به منظور تحلیل رفتار کاربر و نمایش تبلیغات یا پیشنهادات به صورت شخصی‌سازی‌شده، بدون اینکه به‌طور مستقیم به شخص حقیقی معین و مشخص مرتبط باشد، مورد استفاده قرار می‌گیرد. در صورت تغییر شناسه تبلیغاتی توسط کاربر، شناسه تبلیغاتی جدید به شناسه تبلیغاتی قبلی و اطلاعات مرتبط به آن، متصل نخواهد شد.</span></li>
</ul>

<p dir="rtl"><span style="font-size:22px">۳-۱-۷- ما ممکن است از کوکی‌ها (cookies) در جمع‌آوری اطلاعات استفاده کنیم. کوکی فایلی است که به درخواست یک سایت، توسط مرورگر ایجاد می‌شود و به سایت امکان ذخیره بازدید‌های شما و مناسب‌سازی آنها را فراهم می‌نماید. به عنوان مثال ما با استفاده از کوکی می‌توانیم محتوایی را به شما پیشنهاد بدهیم که متناسب با علاقه‌ها و ترجیحات شما باشد. بسیاری از مرورگرها امکان غیرفعال کردن کوکی را فراهم کرده‌اند، به این منظور می‌توانید راهنمای مرورگرها را مطالعه کنید. (برای مثال،&nbsp;<a href="http://windows.microsoft.com/en-US/windows-vista/Block-or-allow-cookies" rel="noopener" target="_blank">Internet Explorer</a>،&nbsp;<a href="https://support.google.com/chrome/answer/95647?hl=en" rel="noopener" target="_blank">Google Chrome</a>،&nbsp;<a href="http://kb.mozillazine.org/Cookies#Firefox" rel="noopener" target="_blank">Mozilla Firefox</a>&nbsp;و&nbsp;<a href="http://support.apple.com/kb/PH5042" rel="noopener" target="_blank">Apple Safari</a>)</span></p>

<p dir="rtl"><span style="font-size:22px">این اطلاعات به نحوی مورد استفاده قرار می‌گیرند که به طور مستقیم به یک شخص حقیقی مشخص و معین مرتبط نباشند.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px">۳-۲- اطلاعات شخصی</span></p>

<p dir="rtl"><span style="font-size:22px">اطلاعات شخصی که توسط جاستیتا جمع‌آوری می شوند شامل موارد ذیل است:</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۱-&nbsp;اطلاعاتی که برای ثبت نام&nbsp; در در جاستیتا ضروری است شامل اطلاعات مربوط به هویت نظیر نام، نام خانوادگی، شماره ملی،عکس کارت ملی،عکس پروفایل،عکس پروانه کسب وکیل و&nbsp;&nbsp;اطلاعات مربوط به روش های ارتباط با شما شامل نشانی پستی، کد پستی، شماره تماس (اعم از ثابت و موبایل) و غیره که شما در اختیار جاستیتا قرار می‌دهید؛</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۲-&nbsp;سوابق کلیه خدمات در بستر جاستیتا ؛</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۳- نظراتی که در جاستیتا ثبت می نمایید؛</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۴-&nbsp;اطلاعات مربوط به مبادلات مالی نظیر کلیه پرداخت های موفق و ناموفق بابت حق المشاوره و حق التحریر در جاستیتا ؛</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۵- صدا و مکاتبات شما در تماس با تیم پشتیبانی ضبط می‌شود</span></p>

<p dir="rtl"><span style="font-size:22px">۳-۲-۶- مکاتبات شما و سایر کاربران (در قالب چت) از طریق بستر جاستیتا.</span></p>

<p dir="rtl"><span style="font-size:22px"><strong>جاستیتا از اطلاعات شخصی چه استفاده‌ای می کند</strong></span></p>

<p dir="rtl"><span style="font-size:22px">موارد عمده استفاده از اطلاعات عبارتند از:</span></p>

<p dir="rtl"><span style="font-size:22px">۴-۱ استفاده از اطلاعات شخصی به منظور اجرای قرارداد فعلی یا آتی بین جاستیتا و کاربر یا در مواردی که برای استیفای حقوق قانونی جاستیتا ضروری باشد. به عبارت دیگر، از آنجا که جاستیتا برای ارائه بهترین خدمات، با بیشترین امنیت برای کاربر و همچنین بهبود خدمات نیاز به استفاده از برخی اطلاعات دارد، با استفاده از اطلاعات کاربران ممکن است اقدامات ذیل را انجام دهد:</span></p>

<p dir="rtl"><span style="font-size:22px">ارزیابی عملکرد سایت و نرم‌افزار جاستیتا و رفع اشکالات آن‌ها در نسخه‌های آتی،</span></p>

<p dir="rtl"><span style="font-size:22px">افزایش امنیت و صحت عملکرد سایت و نرم‌افزار،</span></p>

<p dir="rtl"><span style="font-size:22px">بهبود تجربۀ کاربری از طریق انطباق نرم‌افزار جاستیتا با نیازها و شرایط کاربر و سیستم‌عامل‌های مورد استفاده در دستگاه‌های متنوع کاربران،</span></p>

<p dir="rtl"><span style="font-size:22px">تحلیل رفتار کاربران در استفاده از سایت و نرم‌افزار از جمله در مواجهه با نتایج جستجو و در نتیجه بهبود نتایج جست‌وجو با توجه به کلیدواژه‌های جستجو شده در میان کاربران، &nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px">ارائه خدمات به نحوی که کاربر بتواند به نحوی کارآمد و منحصر به فرد، از کلیه امکانات موجود در سایت و برنامه استفاده کند به عنوان مثال&nbsp;بهبود نتایج جستجو و ارائه پیشنهاد‌های اختصاصی به کاربر،</span></p>

<p dir="rtl"><span style="font-size:22px">نمایش تاریخچه جستجوهای مشابه به کاربر در هنگام جستجو،</span></p>

<p dir="rtl"><span style="font-size:22px">انجام و تکمیل تراکنش و خرید درون‌برنامه‌ای،</span></p>

<p dir="rtl"><span style="font-size:22px">آموزش تیم پشتیبانی جاستیتا&nbsp;برای پاسخگویی به کاربران و نظارت بر عملکرد آن‌ها،</span></p>

<p dir="rtl"><span style="font-size:22px">استفاده از اطلاعات برای طرح دعوا توسط جاستیتا ، دفاع و پاسخگویی در برابر دعاوی مطروحه علیه جاستیتا و هرگونه اقدام قضایی یا اداری مرتبط به منظور دفاع از حقوق و اموال جاستیتا یا کاربران،</span></p>

<p dir="rtl"><span style="font-size:22px">حسب مورد استفاده از اطلاعات برای بازپرداخت وجوه به کاربران،</span></p>

<p dir="rtl"><span style="font-size:22px">انجام مکاتبات و تماس با کاربران توسط تیم پشتیبانی،</span></p>

<p dir="rtl"><span style="font-size:22px">توسعه و ارائه خدمات بهتر و بیشتر توسط جاستیتا&nbsp;</span></p>

<p dir="rtl"><span style="font-size:22px"><strong>اطلاعات شخصی در اختیار چه اشخاصی قرار می گیرند</strong></span></p>

<p dir="rtl"><span style="font-size:22px"><strong>۱</strong><strong>-</strong><strong>۵</strong><strong>-</strong>&nbsp;جاستیتا ممکن است در راستای مطابقت عملکردش با قوانین و مقررات کشور اطلاعات موضوع این سند را در جریان رسیدگی قضایی و تنها در پاسخ به دستور مراجع قضایی ذی‌صلاح در اختیار نهادهای ذی‌ربط قرار دهد.</span></p>

<p dir="rtl"><span style="font-size:22px"><strong>۲</strong><strong>-</strong><strong>۵</strong><strong>-</strong>&nbsp;جاستیتا به اشخاص ثالثی که به نحوی در ارائه خدمات با ما همکاری می‌کنند یا وابسته به جاستیتا هستند، تنها در چارچوب این سند اجازه استفاده و پردازش اطلاعات شخصی شما را می‌دهد.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px"><strong>امنیت اطلاعات شخصی</strong></span></p>

<p dir="rtl"><span style="font-size:22px"><strong>۶</strong><strong>-</strong><strong>۱</strong><strong>-&nbsp;</strong>یکی از اولویت‌های اصلی جاستیتا محافظت از اطلاعات حساب کاربران و جلوگیری از دسترسی‌های غیرمجاز به این اطلاعات است. </span></p>

<p dir="rtl"><span style="font-size:22px">برای هر بار ورود به حساب کاربری در جاستیتا از رمز عبور یک‌بار مصرف (OTP) استفاده می‌شود که تنها با دسترسی به شماره تلفن همراهی که از طریق آن در جاستیتا ، حساب کاربری خود را ایجاد کرده‌اید امکان‌پذیر است.</span></p>

<p dir="rtl"><span style="font-size:22px">اطلاعات حساب یا کارت بانکی که در زمان پرداخت وارد می‌کنید، در درگاه بانکی وارد می‌شوند و به هیچ‌ عنوان در دیوار دریافت و ذخیره نخواهند شد و از طریق درگاه بانکی مورد استفاده خواهند بود.</span></p>

<p dir="rtl"><span style="font-size:22px"><strong>۶</strong><strong>-</strong><strong>۲</strong><strong>-&nbsp;</strong>علی‌رغم تمام رویه‌های ایمنی که جاستیتا مطابق با قانون به هنگام ارائه خدمات اتخاذ کرده است، متاسفانه تدابیر امنیتی را نمی‌توان به صورت صد در صدی تضمین نمود، بنابراین مقتضی است:</span></p>

<p dir="rtl"><span style="font-size:22px">از اطلاعات حساب کاربری خود محافظت کرده و آن‌ها را در اختیار اشخاص ثالث قرار ندهید.</span></p>

<p dir="rtl"><span style="font-size:22px">رمز عبوری را انتخاب نمایید که حتی‌الامکان برای دیگران غیر قابل پیش‌بینی باشد.</span></p>

<p dir="rtl"><span style="font-size:22px">در صورت وقوع سرقت گوشی همراه و همچنین پیش از واگذاری شماره تلفنی که با آن حساب کاربری ایجاد کرده‌اید، موضوع را به جاستیتا اطلاع دهید تا حساب کاربری شما تعلیق شده یا اطلاعات موجود در آن تغییر کند. در غیر این صورت و در موارد دسترسی اشخاص ثالث به رمز عبور شما، تمامی مسئولیت هرگونه استفاده یا سوءاستفاده از حساب کاربری شما به عهدۀ شخص شماست و جاستیتا هیچ‌گونه مسئولیتی در این مورد ندارد.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px"><strong>پرسش ها و درخواست های شما</strong></span></p>

<p dir="rtl"><span style="font-size:22px">تحت شرایطی، شما می توانید متقاضی هر یک از موارد ذیل در رابطه با اطلاعات شخصی خود باشید:</span></p>

<p dir="rtl"><span style="font-size:22px">درخواست دسترسی به اطلاعات شخصی خود که در اختیار جاستیتا&nbsp; قرار داده‌اید.</span></p>

<p dir="rtl"><span style="font-size:22px">درخواست تکمیل اطلاعات ناقص یا اصلاح اطلاعات نادرستی که در اختیار جاستیتا قرار دارد.</span></p>

<p dir="rtl"><span style="font-size:22px">درخواست حذف یا محو کردن اطلاعات شخصی؛ در این خصوص جاستیتا درخواست شما را بررسی و تنها در چارچوبی که قانون اجازه می‌دهد اطلاعات را حذف یا محو می‌نماید و به نحو مقتضی به شما اطلاع‌رسانی خواهد کرد.</span></p>

<p dir="rtl"><span style="font-size:22px">اعلام عدم رضایت نسبت به جمع‌آوری، ذخیره، پردازش و توزیع اطلاعات شخصی در مواردی که به موجب قانون این اقدامات مستلزم رضایت شماست؛ در این خصوص جاستیتا درخواست شما را بررسی و تنها در چارچوبی که قانون اجازه می‌دهد اقدام و به نحو مقتضی به شما اطلاع‌رسانی خواهد کرد. همان طور که قبلاً ذکر شد، عدم دسترسی جاستیتا به برخی اطلاعات، ممکن است مانع ارائه تمام یا برخی از خدمات یا عملکرد مناسب سایت یا برنامه گردد.</span></p>

<p dir="rtl">&nbsp;</p>

<p dir="rtl"><span style="font-size:22px"><strong>شرایط درخواست</strong></span></p>

<p dir="rtl"><span style="font-size:22px">شما می توانید درخواست های خود را به نشانی الکترونیکی info@justita.app&nbsp;&nbsp;ارسال نمایید.</span></p>

<p dir="rtl"><span style="font-size:22px">درخواست شما در هیچ یک از موارد فوق متضمن پرداخت هزینه نمی‌باشد.</span></p>

<p dir="rtl"><span style="font-size:22px">در هر یک از موارد فوق، جاستیتا ممکن است اطلاعاتی را به منظور تأیید هویت و حصول اطمینان از حق دسترسی شما به اطلاعات شخصی، درخواست کند. این اقدامات و تدابیر با هدف محافظت از اطلاعات و جلوگیری از دسترسی‌های غیرمجاز به اطلاعات شخصی شما انجام می‌شوند.</span></p>

<p dir="rtl"><span style="font-size:22px">جاستیتا هر درخواست را ظرف حداکثر ۱ ماه پاسخ خواهد داد مگر آنکه پیچیدگی یا تعدد موضوعات بررسی طولانی‌تری را اقتضا کند؛ در این صورت جاستیتا ، اطلاع‌رسانی‌های لازم را انجام خواهد داد.</span></p><p></p>
    </div>
    </div>




    <div class="footer position-sticky bottom-0 end-0 bg-light py-2 px-3">
        <button class="btn btn-primary mx-2 my-1" onclick="goBack()">بازگشت</button>
    </div>



    <script>
   function goBack() {
    if (window.history.length > 1) {
        window.history.back();
    } else {
        window.close(); // Close the current window if there's no previous page
    }
}

    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
