*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: 'vazirmatn';
}

a {
    text-decoration: none;
}

.errorlist{
    position: fixed;
    max-width: 800px;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.messages {
    margin: 10px 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(223, 89, 89);
    color: #fff;
    text-align: right;
}