{% extends "dashboard/base.html" %}
{% load static %}

{% block links %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dashboard/dashboard/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/persian-date/dist/persian-date.min.js"></script>

{% endblock links %}

{% block main_content %}
<header>
    <a href="{% url 'lawyers:lawyers' %}">
        <span>
            <img src="/media/accounts/main/back-arrow.png" alt="برگشت" ,="" class="back-arrow w-75">
        </span>
        
    </a>
    <span class="fs-5">مشاوره های تلفنی</span>
    </header>
    
<button id="today" class="btn btn-primary">کل</button>
{% if request.user.is_superuser %}
<div class="dropdown d-inline">
    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      وکلا
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#" onclick="updateInput('محمدجواد خسرو نوبری')">محمدجواد خسرو نوبری</a></li>
        <li><a class="dropdown-item" href="#" onclick="updateInput('آتمیش جهانشاهی')">آتمیش جهانشاهی</a></li>
        <li><a class="dropdown-item" href="#" onclick="updateInput('ارغوان منصوری')">ارغوان منصوری</a></li>
        <li><a class="dropdown-item" href="#" onclick="updateInput('علیرضا آتش زران')">علیرضا آتش زران</a></li>
        <li><a class="dropdown-item" href="#" onclick="updateInput('نیلوفر شهاب')">نیلوفر شهاب</a></li>
      </ul>
  </div>
{% endif %}
<div class="input-group d-inline">
    <input type="search" class="w-25 p-2 d-inline form-control" style="font-size: small;" placeholder="فیلتر" id="searchInput">
   
</div>

    <table class="table table-striped">
        <thead>
        <tr>
            {% if request.user.is_superuser %}
                 <th scope="col">شناسه</th>
            {%endif%}
            <th scope="col">موکل</th>
            <th scope="col">شماره</th>
            {% if request.user.is_superuser %}
                <th scope="col">وکیل</th>
            {%endif%}
            <th scope="col">زمان مشاوره</th>
            <th scope="col">وضعیت مشاوره و پرداخت</th>
            
            <th scope="col">جزئیات</th>
        </tr>
        </thead>
        <tbody>
        {% for call in call_counseling %}
        <!-- On tables -->
            <tr>
                {% if request.user.is_superuser %}

                     <td scope="row"><a href="{%url 'base:home'%}admin/social/callcounseling/{{call.id}}">{{call.identity}}</a></td>
                {%endif%}
                        <td>{{call.client.get_full_name}}</td>
                        <td>{{call.client}}</td>

                {% if request.user.is_superuser %}
                <td>{% if call.lawyer %}
                    {{call.get_lawyer_display}}
                    {%else%}انتخاب نشده{% endif %}</td>
                    {%endif%}
                <td>{{call.persian_reserve_day}} , {{call.persian_reserve_time}}</td>
                <td>
                    <span class="badge p-2 {% if call.status == 'done' %}bg-success{% else %}bg-info{% endif %}">{{call.get_status_display}}</span>
                    <span class="badge p-2 {% if call.payment_status == 'ok' %}bg-success{% elif call.payment_status == 'undone' %}bg-info{% else %}bg-danger{% endif %}">{{call.get_payment_status_display}}</span>
                </td>
               
                <td>
                    <button class="detail-btn" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop_{{call.identity}}">جزئیات</button>
                </td>

                <!-- Modal -->
                <div class="modal modal-dialog-scrollable fade" id="staticBackdrop_{{call.identity}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop_{{call.identity}}_Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdrop_{{call.identity}}_Label">جزئیات مشاوره</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            

                            <div class="info">
                                <p class="m-0">شماره  : 
                                    {{call.client}}</p>
                                    <p class="m-0">موکل  : 
                                        {{call.client.get_full_name}}</p>
                            </div>


                            <div class="info">
                                <p class="m-0">مبلغ پرداختی : {% if call.amount_paid != None%}
                                    {{call.amount_paid}} تومان
                                {% else %}
                                پرداخت نشده
                                {% endif %}</p>
                            </div>

                            <div class="info">
                                <p class="m-0">روز رزور شده مشاوره : {{call.persian_reserve_day}}</p>
                                <p class="m-0">ساعت رزور شده مشاوره : {{call.persian_reserve_time}}</p>
                            </div>
                            <div class="info">
                                <p class="m-0">توضیحات :</p>
                                <p class="m-0">{{call.description}}</p>
                            </div>

                            <div class="info">
                                <p class="m-0">فایل های  پیوست شده :</p>
                                <div class="files">
                                    {% for file in call.files.all %}
                                    <div class="file">
                                        <a href="{{file.file.url}}" class="small">{{file.file.url|truncatechars:30}}</a>
                                    </div>
                                    {%empty%}
                                    <p class="text-danger">فایلی وجود ندارد</p>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="info">
                                <p class="m-0">وضعیت فعلی مشاوره : {{call.get_status_display}}</p>
                                <button class="change-status my-1" data-identity="{{call.identity}}" onclick="changeStatus(event)">
                                    {% if call.status == 'done' %}
                                      تغییر وضفیت به انجام نشده
                                    {%else%}
                                        تغییر وضعیت به انجام شده
                                    {% endif %}
                                </button>
                            </div>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">بستن</button>
                        </div>
                    </div>
                    </div>
                </div>
  
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="change-status_form" method="post" style="display: none;">
        {% csrf_token %}
        <input type="text" name="identity" id="identityInput">
    </form>

{% endblock main_content %}

{% block extra_scripts %}
<script>
    function updateInput(value) {
      document.getElementById('searchInput').value = value;
      document.getElementById('searchInput').dispatchEvent(new Event('input'));
    }
    
  </script>
<script>
    document.getElementById('today').addEventListener('click', function() {
        window.location.href = "allcalls"
    });
</script>

  <script>

    function changeStatus(event) {
        var identity = event.target.dataset.identity
        var form = document.querySelector('.change-status_form')
        var identityInput = document.querySelector('#identityInput')

        identityInput.value = identity
        form.submit()
    }
  </script>
  <script>
    const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr');

// 1. Searching for specific data of HTML table
search.addEventListener('input', searchTable);

function searchTable() {
    const searchValue = search.value.toLowerCase();

    table_rows.forEach((row, i) => {
        let table_data = row.textContent.toLowerCase();
        const isRowVisible = table_data.includes(searchValue);
        row.hidden = !isRowVisible;
        row.style.setProperty('--delay', isRowVisible ? i / 25 + 's' : '0s');
    });

    document.querySelectorAll('tbody tr:not([hidden])').forEach((visible_row, i) => {
        visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
}

  </script>
    <script>
        
        const  table_rowss = document.querySelectorAll('tbody tr');
        const  table_headings = document.querySelectorAll('thead th');
        table_headings.forEach((head, i) => {
    let sort_asc = true;
    head.onclick = () => {


        
     
        head.classList.toggle('asc', sort_asc);
        sort_asc = head.classList.contains('asc') ? false : true;

        sortTable(i, sort_asc);
    }
})
function sortTable(column, sort_asc) {
    [...table_rowss].sort((a, b) => {
        let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
            second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

        return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
    })
        .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
}

    </script>
      <style>
        th {
            cursor: pointer;
        }
    </style>
    
{% endblock extra_scripts %}