{% extends "dashboard/base.html" %}
{% load static %}

{% block links %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dashboard/dashboard/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/persian-date/dist/persian-date.min.js"></script>
{% endblock links %}

{% block main_content %}

<button id="today" class="btn btn-primary">امروز</button>

<div class="dropdown d-inline">
    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      وکلا
    </button>
    <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton1">
        {%for lawyer in lawyers%}
        <li><a class="dropdown-item" href="#" onclick="updateInput('{{lawyer.first_name}} {{lawyer.last_name}}')">{{lawyer.first_name}} {{lawyer.last_name}}</a></li>
        {%endfor%}


   
      </ul>
  </div>
  

<div class="input-group d-inline">
    <input type="search" class="w-25 p-2 d-inline form-control" style="font-size: small;" placeholder="فیلتر" id="searchInput">
   
</div>
    <table class="table table-striped">
        <thead>
        <tr>
            
                <th scope="col">شناسه</th>
               
           

            <th scope="col">موکل</th>

             
                <th scope="col">وکیل</th>
               
            <th scope="col">ساعت و تارخ ثبت</th>
            <th scope="col"> وضعیت پرداخت</th>
            <th scope="col">پرداختی</th>
            <th scope="col">چت</th>
           
        </tr>
        </thead>
        <tbody>
        {% for online in onlineCounselings %}
        <!-- On tables -->
            <tr>    

                  
                    <td scope="row"><a target="_blank" href="{%url 'base:home'%}admin/social/onlinecounseling/{{online.id}}">#{{online.identity}}</a></td>
                    <td>{{online.client.get_full_name}}</td>
                    <td>{% if online.lawyer %}
                        {{online.get_lawyer_display}}
                        {%else%}انتخاب نشده{% endif %}</td>        

                <td>{{online.created.date}} , {{online.created.time}}</td>
                
                 
                <td><span style="min-width: 4rem;" class="badge p-2 {% if online.payment_status == 'ok' %}bg-success{% elif online.payment_status == 'undone' %}bg-info{% else %}bg-danger{% endif %}">{{online.get_payment_status_display}}</span></td>

                <td>
                    <p class="m-0"> {% if online.amount_paid != None%}
                        <span class="text-success">{{online.amount_paid}} تومان</span>
                    {% else %}
                    پرداخت نشده
                    {% endif %}</p>
                </td> 

                
                <td>
                    {%if online.chat == 'بدون روم'%}
                    {{online.chat}}
                    {%else%}

                   <a target="_blank" href="{%url 'social:home'%}chat/online-counseling/{{online.chat}}">{{online.chat}}</a>

                    {%endif%}
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form class="change-status_form" method="post" style="display: none;">
        {% csrf_token %}
        <input type="text" name="identity" id="identityInput">
        <input type="text" name="service" id="service_nameInput">
    </form>

{% endblock main_content %}

{% block extra_scripts %}
    <script>
        function changeStatus(event) {
            var identity = event.target.dataset.identity;
            var service_name = event.target.dataset.service_name

            var form = document.querySelector('.change-status_form')
            var identityInput = document.querySelector('#identityInput')
            var service_nameInput = document.querySelector('#service_nameInput')

            identityInput.value = identity
            service_nameInput.value = service_name

            form.submit()
        }
    </script>
    <script>
        function updateInput(value) {
          document.getElementById('searchInput').value = value;
          document.getElementById('searchInput').dispatchEvent(new Event('input'));
        }
        
      </script>
    <script>
        document.getElementById('today').addEventListener('click', function() {
            const currentDate = new persianDate();
            currentDate.toLocale('en');
            const currentDateShamsi = currentDate.format('YYYY/MM/DD');
            document.getElementById('searchInput').value = currentDateShamsi;
            document.getElementById('searchInput').dispatchEvent(new Event('input'));
        });
    </script>
 <script>
    const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr');

// 1. Searching for specific data of HTML table
search.addEventListener('input', searchTable);

function searchTable() {
    const searchValue = search.value.toLowerCase();

    table_rows.forEach((row, i) => {
        let table_data = row.textContent.toLowerCase();
        const isRowVisible = table_data.includes(searchValue);
        row.hidden = !isRowVisible;
        row.style.setProperty('--delay', isRowVisible ? i / 25 + 's' : '0s');
    });

    document.querySelectorAll('tbody tr:not([hidden])').forEach((visible_row, i) => {
        visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
}

  </script>
    <script>
        
        const  table_rowss = document.querySelectorAll('tbody tr');
        const  table_headings = document.querySelectorAll('thead th');
        table_headings.forEach((head, i) => {
    let sort_asc = true;
    head.onclick = () => {


        
     
        head.classList.toggle('asc', sort_asc);
        sort_asc = head.classList.contains('asc') ? false : true;

        sortTable(i, sort_asc);
    }
})
function sortTable(column, sort_asc) {
    [...table_rowss].sort((a, b) => {
        let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
            second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

        return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
    })
        .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
}

    </script>
      <style>
        th {
            cursor: pointer;
        }
    </style>    
{% endblock extra_scripts %}