{% extends "dashboard/base.html" %}
{% load static %}

{% block links %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'dashboard/dashboard/style.css' %}">
{% endblock links %}

{% block main_content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">شناسه</th>
            <th scope="col">کاربر</th>
            <th scope="col">موضوع</th>
            <th scope="col">ایجاد شده در</th>
            <th scope="col">آخرین پیام در</th>
            <th scope="col">صفحه چت</th>
        </tr>
        </thead>
        <tbody>
        {% for room in support_rooms %}
        <!-- On tables -->
            <tr>
                <td scope="row">#{{room.identity}}</td>
                <td>{{room.user.get_full_name}}</td>
                <td>{{room.subject|truncatechars:20}}</td>
                <td>{{room.created_persian.date}} , {{room.created_persian.time}}</td>
                <td>{{room.messages.all.last.created_at_persian.date}} , {{room.messages.all.last.created_at_persian.time}}</td>
                <td>
                    <a href="{% url 'social:support-room' identity=room.identity %}">رفتن به چت</a>
                </td>
  
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock main_content %}

{% block extra_scripts %}
<script>
        
    const  table_rowss = document.querySelectorAll('tbody tr');
    const  table_headings = document.querySelectorAll('thead th');
    table_headings.forEach((head, i) => {
let sort_asc = true;
head.onclick = () => {


    
 
    head.classList.toggle('asc', sort_asc);
    sort_asc = head.classList.contains('asc') ? false : true;

    sortTable(i, sort_asc);
}
})
function sortTable(column, sort_asc) {
[...table_rowss].sort((a, b) => {
    let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
        second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

    return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
})
    .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
}

</script>
  <style>
    th {
        cursor: pointer;
    }
</style>

{% endblock extra_scripts %}